.wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  background: var(--primary);
  color: white;

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper a {
  display: flex;
  align-items: center;
}
