@import "./_fonts.css";

:root {
  --primary: #3f3d56;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 10%;
}
